---
title: 解除 Nintendo Account 兩步驟驗證
tags: [Nintendo, Nintendo Account, Nintendo Switch]
categories: [生活札記]
index_img: /2019/02/10/removing-nintendo-account-two-step-verification/cover.jpg
date: 2019-02-10 14:49:36
---

![](/2019/02/10/removing-nintendo-account-two-step-verification/cover.jpg)

> 這篇主要是紀錄我如何解除 Nintendo Account 兩步驟驗證的過程。會有這個問題主要是因為在去年換了手機，當時有啟用 Nintendo Account 基於 [Google Authenticator](https://support.google.com/a/answer/175197) 的兩步驟驗證。但是原來的手機已經回復原廠設定、又沒有保存備用碼的情況下，就無法通過兩步驟驗證登入存取我的 Nintendo Account。

<!-- more -->

經過試了各種方法都無法通過驗證後，我在 Nintendo Account 的 [網站](https://accounts.nintendo.com/common_help) 上找到了客服信箱：
  `sp-support@nintendo.co.jp`

因為怕寫中文過去會得到無聲卡，所以我是寫英文寄給客服，描述我所遇到的問題。然後大概一個小時後就得到了回覆，主要需要我提供以下資訊：

* Nickname registered with the Nintendo Account:
* Date of birth registered with the Nintendo Account:
* Country registered with the Nintendo Account:
* Email address registered with the Nintendo Account:

回答上述問題後回寄給客服，大概三小時後收到回信，客服表示需要一點時間來處理。隔天收到客服通知表示已經解除兩步驟驗證。

以上就是我解除 Nintendo Account 兩步驟驗證的過程，不過基於安全性考量，建議還是啟用比較好。切記！一定要把備用碼記錄下來 XD。
